body{
    font-family: Cambria, serif ;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.baner, footer{
    background-color: rgb(120, 0, 46);
    color: white;
    padding: 5 px;
    font-size: 150% ;
    display: block;
    width: 100%;
}
.menu{
    background-color:  rgb(173, 20, 87);
    text-align: left;
    display: block;
width: 100%;
}
.left{
    background-color: snow;
    color: OliveDrab;
    width: 60%;
    height: 322 px;
    text-align: left;
}
.right{
    background-color: rgb(173, 20, 87);
    width:  40%;
    height: 322px;
    
}
.samochod{
    margin:  40px;
    padding: 10px;
}
:hover.samochod{
    border: dotted 1px yellowgreen;
}
.odnosnik{
    padding: 0px 50px 0px;
    color: yellowgreen;
}
table, tr,td{
    border: solid 1px olivedrab;
}
table{
    width: 90%;
}